iframe {
  height: 90vh;
  min-height: 90vh;
}

body {
  padding-top: 50px;
}

.logo {
    padding: 0px 15px;
}

.logo img {
    height: 33px;
}


a {
    color: #ffffff;
}

a:hover {
    color: #1474a0;
    text-decoration: none;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #42adf0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: #42adf0;
}

.navbar-default .navbar-text {
    color: #42adf0;
}

.navbar-default .navbar-nav > li > a {
    color: #42adf0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #42adf0;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #42adf0;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #42adf0;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #42adf0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #42adf0;
}

.navbar-default .navbar-toggle {
    border-color: #42adf0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #ffffff;
    background-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #42adf0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #42adf0;
}

.navbar-default .navbar-link {
    color: #42adf0;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.promo {
  padding: 10px 10px 10px;
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  color: #444;
}

.promo img {
  padding: 10px;
  width: 250px;
}

#about a.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: white;
  text-decoration: none;
}

#about a.btn-outline-inverse:hover, #about .btn-outline-inverse:focus {
  background-color: #fff;
  color: #5895ea;
  text-decoration: none;
}

#about {
  color: white;
  background-color: #42adf0;
}

#about .intro {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 20px;
}

#about,
#download {
  padding: 20px;  
}

#download .icon,
#about .icon
{
  text-align: center;
}

#about .icon.col-sm-4,
#download .icon.col-sm-4 {
  padding-top: 20px;
}

#about .icon .fa,
#download .icon .fa{
  font-size: 50px;
  padding: 20px;
}

#about .icon .fa {
  color: white;
}

#download a.btn-outline-inverse {
  color: #5895ea;
  background-color: transparent;
  border-color: #5895ea;
  text-decoration: none;
}

#download a.btn-outline-inverse:hover, #download .btn-outline-inverse:focus {
  background-color: #5895ea;
  color: #fff;
  text-decoration: none;
}


ul.download {
  padding-left: 0px;
}

ul.download li {
  list-style: none;
  padding-left: 0px;
}

ul.download li .fa {
  color: orange;
  padding-right: 5px;
  margin-left: -20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer ul {
  padding-left: 0px;
}

.footer li {
  list-style: none;
  padding-left: 0px;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.sha256 {
  display: block;
  color: #aaa;
  padding: 2px;
  font-size: smaller;
  overflow-wrap: break-word;
}

.sha256:before {
  content: 'sha256: ';
  color: #5895ea;
  font-size: smaller;
  padding-left: 0px;
}

.size {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 5px;
  margin: 10px 2px 0px 10px;
  background-color: orange;
  border-radius: 3px;
  float: right;
}

a.donate-link {
  color:#d11111;
  border: none;
}
a.donate-link:hover {
  color:white;
  background-color: #d11111;
  border-color: #d11111;
}

/* About slider */

.ui-widget-content {
  color: white;
  background: none;
  border: none;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #444;
  border:none;
  background: #ffffff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border:none;

  background: #ffffff; 
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #42adf0;
}

.ui-tabs .ui-tabs-nav {
  text-align: center;
}
.ui-tabs .ui-tabs-nav li {
  display: inline-block;
  float: none;  
}

.slide {
  text-align: left;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
#tabs .text {
  font-weight: 200;  
}
#tabs .text a {
  color: white;
}

#tabs .text a:hover {
  color: #444;
}
