<h1>Support the Authors</h1>

<p>
The Microservice Framework (mFW) is a powerful and simple way of building scalable and well performing microservice architecture. Your support is greatly appreciated! Your support means this project will keep blossoming.
</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/kellen" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Address:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Recurring Pledges</h2>

<p>
Recurring pledges come with exclusive perks, e.g. having your name listed in the Vue GitHub repository, or have your company logo placed on this website.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/gormartsen" target="_blank">Become a backer or sponsor via Patreon</a>
  </li>
</ul>
